streamlit==1.35.0
numpy==1.24.3
pdfplumber==0.10.3
deepface==0.0.79
opencv-python-headless==4.7.0.72
tensorflow==2.11.0
keras==2.11.0
torch==2.0.1
transformers==4.36.2
optimum[openvino]==1.13.2
pydub==0.25.1
speechrecognition==3.10.1
deep-translator==1.11.4
Pillow==9.5.0
